// Overrides
//

$color-primary: "125,181,181"
$color-primary-dark: "0,144,144"
$color-accent: "154,41,120"

$trim-color-classes: true

// Global styles
//
$mobile-column-width: 75vw
$tablet-column-width: 45vw
$desktop-column-width: 360px

$data-cell-gutter: 4px
$table-bg: #f2f2f2


// mdl library variables
//
@import '../../node_modules/material-design-lite/src/_variables.scss'

// mdl library mixins
//
@import '../../node_modules/material-design-lite/src/_mixins.scss'