// Overrides
//

$color-primary: "125,181,181"
$color-primary-dark: "0,144,144"
$color-accent: "154,41,120"

$trim-color-classes: true

// Global styles
//
$mobile-column-width: 75vw
$tablet-column-width: 45vw
$desktop-column-width: 360px

$data-cell-gutter: 4px
$table-bg: #f2f2f2


// mdl library variables
//
@import '../../node_modules/material-design-lite/src/_variables.scss'

// mdl library mixins
//
@import '../../node_modules/material-design-lite/src/_mixins.scss'


// From google font css
//
=material-icon-font
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  letter-spacing: normal
  text-transform: none
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased