@import '../../node_modules/material-design-lite/src/_variables.scss';

.positionTitle
  padding-left: 16px

.footer
  margin-left: $layout-drawer-width

  @media screen and (max-width: $layout-screen-size-threshold)
    margin-left: 0

.footerRight
  line-height: $footer-btn-size