@import '../sass/_variables.sass'

$cell-padding: 8px
$active-cell-extrude-size: 4px

.cell
  display: block
  box-sizing: border-box
  padding: $data-cell-gutter
  flex: 1 0 $mobile-column-width

  @media screen and (min-width: $grid-tablet-breakpoint)
    flex-basis: $tablet-column-width

  @media screen and (min-width: $grid-desktop-breakpoint)
    flex-basis: $desktop-column-width

.cellContent
  background: #fff
  border-radius: 3px

.cellContentHeader
  font-size: 18px
  padding: $cell-padding
  border-bottom: 1px solid #eee
  margin-bottom: 7px

.cellContentHeader:last-child
  border-bottom: 0
  margin-bottom: 0

$cropping-margin: 10px
.cellContentCropper
  overflow: hidden

  // Don't crop left & right side to edge,
  // which leaves space for activeCellItem & commentBlock's box-shadow.
  margin: 0 -$cropping-margin
  padding: 0 $cropping-margin

.cellContentCropper:first-child
  margin-top: -$cropping-margin
  margin-bottom: $cropping-margin
  padding-top: $cropping-margin

.cellContentCropper:last-child
  margin-top: $cropping-margin
  margin-bottom: -$cropping-margin
  padding-bottom: $cropping-margin

.cellItem
  padding: $cell-padding
  border-top: 1px solid #eee
  will-change: padding, margin, border-radius

.cellItem:first-child
  border-top: 0

.activeCellItem
  background: #fff
  margin: -$active-cell-extrude-size
  padding: $active-cell-extrude-size + $cell-padding
  border-radius: 2px
  +shadow-3dp
  position: relative
  z-index: 1 // Higher than other cellItems

.hasComment
  border-bottom: 1px dashed unquote("rgb(#{$color-primary})")

.commentBlock
  padding: $active-cell-extrude-size + $cell-padding
  margin: 0 (-$active-cell-extrude-size)
  background: #666
  color: rgba(#fff, .8)
  +shadow-3dp
  will-change: height
  animation: expand .5s

@keyframes expand
  0%
    height: 0