@import '../sass/_variables.sass'

$cell-padding: 8px
$cell-bg-color: rgba(#fff, .56)
$cell-border-color: rgba(#000, .1)
$active-cell-extrude-size: 4px

.cell
  display: block
  box-sizing: border-box
  padding: $data-cell-gutter
  flex: 1 0 $mobile-column-width
  transform: translate3d(0,0,0) // Push each cell to layer

  @media screen and (min-width: $grid-tablet-breakpoint)
    flex-basis: $tablet-column-width

  @media screen and (min-width: $grid-desktop-breakpoint)
    flex-basis: $desktop-column-width

.cellContent
  border-radius: 3px
  box-sizing: border-box
  border: 1px solid $cell-border-color

.cellContentHeader
  font-size: 18px
  background-color: #fff
  padding: $cell-padding
  border-bottom: 1px solid $table-bg
  margin-bottom: 7px

.cellContentHeader:last-child
  border-bottom: 0
  margin-bottom: 0

$cropping-margin: 10px
.cellContentCropper
  overflow: hidden

  // Don't crop left & right side to edge,
  // which leaves space for activeCellItem & commentBlock's box-shadow.
  margin: 0 -$cropping-margin
  padding: 0 $cropping-margin

.cellContentCropper:first-child
  margin-top: -$cropping-margin
  margin-bottom: $cropping-margin
  padding-top: $cropping-margin

.cellContentCropper:last-child
  margin-top: $cropping-margin
  margin-bottom: -$cropping-margin
  padding-bottom: $cropping-margin

.cellItem
  padding: $cell-padding
  border-top: 1px solid $cell-border-color
  background-color: $cell-bg-color
  will-change: background-color
  transition: background-color .1s
  cursor: pointer

  position: relative // For its "before" element

.cellItem:hover
  background-color: #fff

.cellItem:first-child
  border-top: 0

.cellItem:before
  // Use before element to create hover-card effect.
  // Manipulates opacity, which is under hardware acceleration.
  //
  content: ''
  background: #fff

  opacity: 0
  will-change: opacity
  transition: opacity .2s
  border-radius: 2px
  +shadow-3dp
  z-index: -1 // Stacking context: cellItem
  position: absolute
  left: -$active-cell-extrude-size
  top: -$active-cell-extrude-size
  right: -$active-cell-extrude-size
  bottom: -$active-cell-extrude-size

  // Add some visual delimiter
  //
  border-top: 1px solid $table-bg

.activeCellItem
  background-color: #fff
  z-index: 1 // Higher than other cellItems

.activeCellItem:before
  opacity: 1

.hasComment
  border-bottom: 1px dashed unquote("rgb(#{$color-primary-dark})")

.reference
  $margin: $active-cell-extrude-size + $cell-padding
  margin: $margin (-$margin) (-$margin) (-$margin)
  border-top: 1px solid $table-bg
  padding: ($margin - 1) $margin $margin ($margin + 24px)

  // For the book icon
  position: relative

  &:before
    content: 'launch'
    +material-icon-font
    font-size: 16px
    color: rgba(#000, .56)

    position: absolute
    left: $margin
    top: $margin


.commentBlock
  padding: $active-cell-extrude-size + $cell-padding
  margin: 0 (-$active-cell-extrude-size)
  background: #666
  color: rgba(#fff, .8)
  +shadow-3dp
  will-change: height
  animation: expand .3s ease-out

@keyframes expand
  0%
    height: 0