@import '../sass/_variables.sass'

$drawer-padding: 16px
$item-border: 1px solid rgba(#000, .12)

.title.title // specificity...
  $line-height: 28px
  $title-height: 56px
  line-height: $line-height
  padding: ($title-height - $line-height)/2 $drawer-padding
  color: rgba(#000, .56)
  text-decoration: none

  &.isActive
    color: $green
    font-weight: bold


.list
  list-style-type: none
  padding-left: 0
  border-bottom: $item-border

.item
  text-overflow: ellipsis
  white-space: nowrap
  padding: 0 $drawer-padding
  font-size: 16px
  line-height: 48px
  cursor: pointer

  // For ripple-effect
  position: relative
  overflow: hidden

.item:hover
  background: rgba(#000, .12)

.item:active, .item.isActive
  background: rgba(#000, .06)

.isTop
  border-top: $item-border

.divider
  text-overflow: ellipsis
  white-space: nowrap

  border-top: $item-border
  padding: 0 $drawer-padding
  font-size: 14px
  line-height: 32px
  font-weight: bold
  color: rgba(#000, .56)
