@import '../sass/_variables.sass'

.positionRow
  padding-left: $row-padding
  overflow: hidden

.headerContainer
  will-change: transform
  min-width: 100%


.columnHeaderNav
  padding-left: 0
  display: flex
  flex-flow: row

$itemLineHeight: 24px
.columnHeaderNav li
  display: block
  font-size: 16px
  line-height: $itemLineHeight
  flex: 1 0 $mobile-column-width

  @media screen and (min-width: $grid-tablet-breakpoint)
    flex-basis: $tablet-column-width

  @media screen and (min-width: $grid-desktop-breakpoint)
    flex-basis: $desktop-column-width


.isDivider
  border-left: 1px solid rgba(#fff, .22)
  margin-left: -$row-padding
  padding-left: $row-padding

.isDivider:first-child
  // don't show left border if the item is left-most
  border: 0
  margin-left: 0
  padding-left: 0

.ancestorText
  color: rgba(#fff, .56)
  font-weight: bold
  white-space: nowrap
  font-size: 14px
  text-overflow: ellipsis

.itemText
  white-space: nowrap
  text-overflow: ellipsis


li.nestedItem
  padding-top: $itemLineHeight
  white-space: nowrap
  text-overflow: ellipsis

li.noAncestorItem
  white-space: nowrap
  text-overflow: ellipsis
  line-height: $itemLineHeight * 2