@import '../sass/_variables.sass'

$header-cell-padding: 8px

// Boost specificity over material-design desktop style
.positionRow.positionRow.positionRow
  padding: 0 $card-gutter
  overflow: hidden

.headerContainer
  will-change: transform
  min-width: 100%

.columnHeaderNav
  padding-left: 0 // Cancel out <ul> paddings
  display: flex
  flex-flow: row

$itemLineHeight: 24px
.columnHeaderNav li
  display: block
  box-sizing: border-box
  padding: 0 $header-cell-padding
  font-size: 16px
  line-height: $itemLineHeight
  flex: 1 0 $mobile-column-width

  @media screen and (min-width: $grid-tablet-breakpoint)
    flex-basis: $tablet-column-width

  @media screen and (min-width: $grid-desktop-breakpoint)
    flex-basis: $desktop-column-width


.isDivider
  border-left: 1px solid rgba(#fff, .22)
  padding-left: $header-cell-padding - 1

.isDivider:first-child
  // don't show left border if the item is left-most
  border: 0
  padding-left: $header-cell-padding

.ancestorText
  color: rgba(#fff, .56)
  font-weight: bold
  white-space: nowrap
  font-size: 14px
  text-overflow: ellipsis

.itemText
  white-space: nowrap
  text-overflow: ellipsis


li.nestedItem
  padding-top: $itemLineHeight
  white-space: nowrap
  text-overflow: ellipsis

li.noAncestorItem
  white-space: nowrap
  text-overflow: ellipsis
  line-height: $itemLineHeight * 2