@import '../sass/_variables.sass'

.row
  padding: 0 $data-cell-gutter $data-cell-gutter*2

.cellContainer
  display: flex
  flex-flow: row

  // Cell height should shrink to content size
  // in order to make click-away work as desired
  align-items: flex-start

.rowHeader
  will-change: transform
  padding-left: 8px

.isDivider
  border-top: 1px solid rgba(#000, .22)
  margin-top: 32px

.isDivider:first-child
  border-top: 0
  margin-top: 0

.loading
  padding: 64px 0
  text-align: center

  .loadingScaler
    display: inline-block
    transform: scale(2)

.errorMessage
  padding: 16px

  h3
    +typo-display-1($colorContrast: true)
