@import '../sass/_variables.sass'

.row
  padding: 0 $row-padding
  display: flex
  flex-flow: column

.cellContainer
  display: flex
  flex-flow: row

.cell
  display: block
  flex: 1 0 $mobile-column-width

  @media screen and (min-width: $grid-tablet-breakpoint)
    flex-basis: $tablet-column-width

  @media screen and (min-width: $grid-desktop-breakpoint)
    flex-basis: $desktop-column-width